Host git@github.com:boloto-dev/boloto.git
    HostName git@github.com:boloto-dev/boloto.git
    User boloto-dev
    IdentityFile /home/vm-user/share_folder/work_env/boloto/secrets/private_ssh.key
    IdentitiesOnly yes